{% load staticfiles %}
{% load article_filter %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}Navigatio{% endblock %}</title>
    {% block meta_header %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% endblock %}
    {% block header_js %}
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    {% endblock %}
    {% block header_css %}
    <link rel="stylesheet" href="{% static 'article/assets/css/main.css' %}" />
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" />
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" />
    <![endif]-->
    {% endblock %}
    {% block custom_css %}
    <style>
     .next_h2 {
      padding-top:10px;
      padding-bottom:8px; 
      border-top:1px solid rgba(160, 160, 160, 0.3); 
      border-bottom:1px solid rgba(160, 160, 160, 0.3);
     }

     .next_img{
      width:180px; 
      height:180px;
     }

     .next_span{
      color:#aaaaaa;
      float:right;
     }

    #search-nav div.sub-nav {
      display: none !important;
    }

    #search-nav div.sub-visible {
      background: #ffffff none repeat scroll 0 0;
      border: 1px solid rgba(160, 160, 160, 0.3);
      opacity: 1;
      padding: 0 0.5em 0 0.5em;
      text-align:left;
      display: block !important;
    }

    #search-nav div.sub-visible > a{
      cursor:pointer !important;
    }

    </style>
    {% endblock %}
  </head>
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      {% block header %}
      <header id="header">
        <h1><a href="/">Navigatio</a></h1>
        <nav class="links">
          <ul>
            {% for cat in category %}
            <li><a href="#">{{cat}}</a></li>
            {% endfor %}
          </ul>
        </nav>
        <nav class="main">
          <ul id="search-nav">
            <li class="search">
              <a class="fa-search" href="#search">Search</a>
              <form id="search" method="get" action="/search/">
                <input type="text" name="query" placeholder="Search" />
                <div class='sub-nav'></div>
              </form>
            </li>
            <li class="menu">
              <a class="fa-bars" href="#menu">Menu</a>
            </li>
          </ul>
        </nav>
      </header>
      {% endblock %}
      <!-- Menu -->
      {% block menu %}
      <section id="menu">
        <!-- Search -->
        <section>
          <form class="search" method="get" action="#">
            <input type="text" name="query" placeholder="Search" />
          </form>
        </section>
        <!-- Links -->
        <section>
          <ul class="links">
            <li>
              <a href="#">
                <h3>About Us</h3>
              </a>
            </li>
            <li>
              <a href="#">
                <h3>Subscribe</h3>
              </a>
            </li>
            <li>
              <a href="#">
                <h3>Settings</h3>
              </a>
            </li>
            <li>
              <a href="#">
                <h3>Terms & Conditions</h3>
              </a>
            </li>
          </ul>
        </section>
        <!-- Actions -->
        <section>
          <ul class="actions vertical">
            <li><a href="#" class="button big fit">Log In</a></li>
          </ul>
        </section>
      </section>
      {% endblock %}
      <!-- Main -->
      <div id="main">
      {% block content %}
      {% endblock %}

      <!--Next Content -->
      {% block next_content %}
        <h2 class="next_h2">What to read next<a href="#"><span class="next_span"><></a></span></h2>
        <ul class="actions pagination">
          {% for next in next_article %}
            <li><a title="{{next.title}}" href="/detail/{{next.id}}" class="image"><img class="next_img" src="{% static '' %}{{next.image.main_img.name|fetch_img_url}}" title="{{next.title}}" alt="{{next.title}}" />{{next.title|truncatewords:5}}</a></li>
          {% endfor %}
        </ul>
      {% endblock %}
      </div>

      <!-- Sidebar -->
      {% block sidebar %}
      <section id="sidebar">

        <!-- Intro -->
        {% block intro %}
        <section id="intro">
          <a href="/" class="logo"><img src="{% static 'article/images/navigatio_logo.jpg' %}" alt="" /></a>
          <header>
            <p>Complete Travel Blog</a></p>
          </header>
        </section>
        {% endblock %}

        <!-- Mini Posts -->
        {% block mini_posts %}
        {% comment %}
        <section>
          <div class="mini-posts">
            <!-- Mini Post -->
            <article class="mini-post">
              <a href="#" class="image"><img src="{% static 'article/images/pic04.jpg' %}" alt="" /></a>
            </article>
            <!-- Mini Post -->
            <article class="mini-post">
              <a href="#" class="image"><img src="{% static 'article/images/pic05.jpg' %}" alt="" /></a>
            </article>
            <!-- Mini Post -->
            <article class="mini-post">
              <a href="#" class="image"><img src="{% static 'article/images/pic06.jpg' %}" alt="" /></a>
            </article>
            <!-- Mini Post -->
            <article class="mini-post">
              <a href="#" class="image"><img src="{% static 'article/images/pic07.jpg' %}" alt="" /></a>
            </article>
          </div>
        </section>
        {% endcomment %}
        {% endblock %}

        <!-- Posts List -->
        {% block posts_list %}
        <section>
          <ul class="posts">
           {% for cat in category %}
            <li>
              <article>
                <header>
                  <h3><a href="#">About {{cat.category_name}} Destinations</a></h3>
                </header>
                <a href="#" class="image"><img src="{% static '' %}{{cat.category_image.name|fetch_img_url}}" alt="{{cat.category_name|lower}}" /></a>
              </article>
            </li>
            {% endfor %}
          </ul>
        </section>
        {% endblock %}

        <!-- About -->
        {% block about %}
        <section class="blurb">
          <h2>About</h2>
          <p>Navigatio is a friendly website so that travellers can write down a journal, send the address to family and friends. Also the theme is travel, the tools are designed to cope with you moving around, maps and flags are linked from each journal.</p>
          <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
          </ul>
        </section>
        {% endblock %}

        <!-- Footer -->
        {% block footer %}
        <section id="footer">
          <ul class="icons">
            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
          </ul>
          <p class="copyright">&copy; Navigatio Pvt. Ltd.</p>
        </section>
        {% endblock %}

      </section>
      {% endblock %}
    </div>

    <!-- Scripts -->
    {% block footer_js %}
    <script src="{% static 'article/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'article/assets/js/skel.min.js' %}"></script>
    <script src="{% static 'article/assets/js/util.js' %}"></script>
    <script src="{% static 'article/assets/js/vue.js' %}"></script>
    <!--[if lte IE 8]><script src="{% static 'article/assets/js/ie/respond.min.js' %}"></script><![endif]-->
    <script src="{% static 'article/assets/js/main.js' %}"></script>
    {% endblock %}
    
    {% block custom_js %}
    {% endblock %}

  </body>
</html>
