{% extends 'article/base.html' %}
{% load staticfiles %}
{% load article_filter %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}Navigatio Detail{% endblock %}</title>
    <!-- block meta_header -->
    <!-- block header_js -->
    <!-- block header_css -->
  </head>
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <!-- block header -->
      <!-- Menu -->
      <!-- block menu -->
      
      <!-- Main -->
      <div id="main">
        {% block content %}
        <!-- Post -->
        <article id="article_view" class="post">
          <header>
            <div class="title">
              <h2>[[article.title]]</h2>
              <p>[[category.category_name]]</p>
            </div>
            <div class="meta">
              <time class="published" datetime="[[article.pub_date]]">[[article.pub_date]]</time>
              <a href="#" class="author"><span class="name">[[author.author_name]]</span><img v-bind:src="author.author_avatar" alt="[[author.author_name]]" /></a>
            </div>
          </header>
          <img class="image featured" v-bind:src="image.main_img" alt="[[image.img_desc]]" />
          <p>[[article.description]]</p>
        </article>
        {% endblock %}
        <!-- block next_content -->
      </div>

      <!-- Sidebar -->
      <!-- block sidebar -->
        <!-- Intro -->
        <!-- block intro -->
        <!-- Mini Posts -->
        <!-- block mini_posts -->
        <!-- block posts_list -->
        <!-- About -->
        <!-- block about -->
        <!-- Footer -->
        <!-- block footer -->
      <!-- end block sidebar -->
    </div>
    <!-- Scripts -->
    <!-- block footer_js -->

    {% block custom_js %}
      <script type="text/javascript">
        
        Vue.config.delimiters = ["[[", "]]"];
        var vueArticle = new Vue({

         el: '#article_view',

         data: {
           article: '',
           image: '',
           author: '',
           category: '',
         },

         ready: function() {
           this.fetchArticle();
         },

         methods: {
           fetchArticle: function () {
             $.get('/api/detail/{{article_id}}/?format=json', function (article_data) {
               //this.article = article_data;
               vueArticle.$set('article', article_data);
               vueArticle.$set('image', article_data.image);
               vueArticle.$set('author', article_data.author);
               vueArticle.$set('category', article_data.category);

             });
             //this.article = {'title':'Our Blog', 'category':'Our Honeymoon'};
           }
         }
       });

      </script>
    {% endblock %}
  </body>
</html>
