{% extends 'article/base.html' %}
{% load staticfiles %}
{% load article_filter %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}Navigatio Detail{% endblock %}</title>
    <!-- block meta_header -->
    <!-- block header_js -->
    <!-- block header_css -->
  </head>
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <!-- block header -->
      <!-- Menu -->
      <!-- block menu -->
      
      <!-- Main -->
      <div id="main">
        {% block content %}
      
        <!-- Post -->
        {% verbatim %}
        <article id="vue_view" class="post">
          <header>
            <div class="title">
              <h2>{{article.title}}</h2>
              <p>{{category}}</p>
            </div>
            <div class="meta">
              <time class="published" datetime="{{pub_date}}">{{pub_date}}</time>
            </div>
          </header>
          <p>{{description}}</p>
        </article>
        {% endverbatim %}
        {% endblock %}

        <!-- block next_content -->
      </div>

      <!-- Sidebar -->
      <!-- block sidebar -->
        <!-- Intro -->
        <!-- block intro -->
        <!-- Mini Posts -->
        <!-- block mini_posts -->
        <!-- block posts_list -->
        <!-- About -->
        <!-- block about -->
        <!-- Footer -->
        <!-- block footer -->
      <!-- end block sidebar -->
    </div>
    <!-- Scripts -->
    <!-- block footer_js -->

    {% block custom_js %}
      <script type="text/javascript">

        var vueRock = new Vue({
          el: '#vue_view',
          data: {
            article:[],
          },

          ready: function() {
            this.fetchData();
          },

          methods: {
            fetchData: function(){
              $.ajax({
                url: '/detail/json/{{article_id}}/',
                type: 'get',
                dataType: 'json',
                async: false,
                success: function(data) {
                  //var self = this;
                  // This way
                  self.article = data;
                  //console.log(self.article);
                  // Or this way
                  //vueRock.$set('totalItems', data);
                }
              });
            }
          }
        });
      </script>
    {% endblock %}
  </body>
</html>
