{% extends 'article/base.html' %}
{% load staticfiles %}
{% load article_filter %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}Navigatio Detail{% endblock %}</title>
    <!-- block meta_header -->
    <!-- block header_js -->
    <!-- block header_css -->
  </head>
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <!-- block header -->
      <!-- Menu -->
      <!-- block menu -->
      
      <!-- Main -->
      <div id="main">
        {% block content %}
      
        <!-- Post -->
        {% verbatim %}
        <article id="my_view" class="post">
          <header>
            <div class="title">
              <h2>{{article.title}}</h2>
              <p>{{category.category_name}}</p>
            </div>
            <div class="meta">
              <time class="published" datetime="{{article.pub_date}}">{{article.pub_date}}</time>
            </div>
          </header>
          <p>{{article.description}}</p>
        </article>
        {% endverbatim %}
        {% endblock %}

        <!-- block next_content -->
      </div>

      <!-- Sidebar -->
      <!-- block sidebar -->
        <!-- Intro -->
        <!-- block intro -->
        <!-- Mini Posts -->
        <!-- block mini_posts -->
        <!-- block posts_list -->
        <!-- About -->
        <!-- block about -->
        <!-- Footer -->
        <!-- block footer -->
      <!-- end block sidebar -->
    </div>
    <!-- Scripts -->
    <!-- block footer_js -->

    {% block custom_js %}
      <script type="text/javascript">

        var vueRock = new Vue({

         el: '#my_view',

         data: {
           article: '',
           image: '',
           author: '',
           category: '',
         },

         ready: function() {
           this.fetchArticle();
         },

         methods: {
           fetchArticle: function () {
             $.get('/detail/json/{{article_id}}/', function (article_data) {
               //this.foobar = foobar_fetched;
               vueRock.$set('article', article_data[0].fields);
               vueRock.$set('image', article_data[1].fields);
               vueRock.$set('author', article_data[2].fields);
               vueRock.$set('category', article_data[3].fields);

             });
             //this.foobar = {'title':'Our Blog', 'category':'Our Honeymoon'};
           }
         }
       });

      </script>
    {% endblock %}
  </body>
</html>
